<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" href="{{ '/assets/css/blog.css' | relative_url }}">
</head>


  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;1,400;1,900&display=swap" rel="stylesheet">
  {% include head.html %}
  <body class="blog">
    <main>
      {% include header.html %} <!--{% include bio.html %}-->

      <!-- Add a main heading for the blog page -->
      <h1 style="color: #2471ff;  font-family: 'Playfair Display'; font-style: italic; font-weight: 900; font-size: 90px; line-height: 75px; margin-top: -50px; margin-bottom: 100px; text-decoration: underline; text-decoration-thickness: 1px;">the <br> secret <br> formula</h1>
      <p>It is often believed that the second movie is always worse than the first one. 
        However, human memory tends to be influenced by nostalgia, and it remains uncertain whether this classic dinner table debate around movie franchises stands on tangible evidence. 
        In this project, we aim to settle this debate by analyzing the <strong>list of movies and supplemental data from</strong> 
        <a href="https://www.cs.cmu.edu/~ark/personas/" target="_blank" style="color: #676767; text-decoration: underline;">
        the CMU Movie Summary Corpus</a>.
        <br><br>        
        In the premices of this data analysis, multiple questions arose.
        </p>  
        <h1 style="
        color: #2471ff;  
        font-family: 'Playfair Display'; 
        font-style: italic; 
        font-weight: 900; 
        font-size: 25px; 
        line-height: 30px; 
        margin-top: 30px; margin-bottom: 20px; margin-left: 5px;">
      "Do franchise movies degrade in quality in revenue as the sequel continues?" <br> 
      “Are franchised movies more successful than non-franchised movies?”.
      
      </h1>
       <p>
      

        To answer these questions, we first have to look at what we’re working with !
      </p>
      <div class="graph-container">
        {% include graphs/franchise_pie.html %}
      </div>
      

      <!-- Add a subheading or additional content -->
      <h1 style="
        color: #2471ff;  
        font-family: 'Playfair Display'; 
        font-style: italic; 
        font-weight: 900; 
        font-size: 40px; 
        line-height: 75px; 
        margin-top: -50px; margin-bottom: 20px;">
      But, what is a <span style=" font-family: JetBrains Mono">[franchise]</span>?</h1>

      <p>
        Have you heard of <strong>Star Wars</strong>? <strong>Harry Potter</strong>? Then you know what a franchise is! 
        They are basically what we often call <span class="keyword-highlight">Sagas</span>. 
        From a data analysis point of view, we consider as movie franchise <strong>any sequel of at least two movies</strong>, whose stories are connected, or that share similarities in terms of characters, plot, and/or setting. 
        That way, both the Harry Potter series or the multiple remakes of Alice in Wonderland are considered franchises.
      </p>

      <iframe 
        src="https://pierreg2.pythonanywhere.com/" 
        style="width: 100%; height: 950px; border: none; border-width: 1px;"> 
        
      </iframe>
      
      
      <p>
        Have you heard of <strong>Star Wars</strong>? <strong>Harry Potter</strong>? Then you know what a franchise is! 
        They are basically what we often call <span class="keyword-highlight">Sagas</span>. 
        From a data analysis point of view, we consider as movie franchise <strong>any sequel of at least two movies</strong>, whose stories are connected, or that share similarities in terms of characters, plot, and/or setting. 
        That way, both the Harry Potter series or the multiple remakes of Alice in Wonderland are considered franchises.
      </p>

      <div class="graph-container" width="100%">
        {% include graphs/plot_4.html %}
      </div>
      

      <section class="articles">
        <article class="article">
          <h2 class="article-title">
            <a href="/posts/univariate"> Franchised vs. Unfranchised : The Duel </a>
          </h2>
          <small> Click to watch the fight</small>

          <div class="categories">
            <a href="#!" data-base-url="" class="category"
              >Univariate</a
            >
          
            <a href="#!" data-base-url="" class="category"
              >Data Analysis</a
            >
          </div>
        </article>
      </section>

      <p>
        Now we're talking about bivariate analysis.
      </p>

      <section class="articles">
        <article class="article">
          <h2 class="article-title">
            <a href="/posts/bivariate"> The Biavariate Story </a>
          </h2>
          <small> Click to learn more </small>

          <div class="categories">
            <a href="#!" data-base-url="" class="category"
              >Bivariate</a
            >
          
            <a href="#!" data-base-url="" class="category"
              >Data Analysis</a
            >
          </div>
        </article>
      </section>


    
      <section class="articles">
        <article class="article">
          <h2 class="article-title">
            <a href="/posts/pattern-investigation"> Pattern Investigation </a>
          </h2>
          <small> Click to learn more </small>

          <div class="categories">
            <a href="#!" data-base-url="" class="category"
              >Pattern</a
            >
          
            <a href="#!" data-base-url="" class="category"
              >Data Analysis</a
            >
          </div>
        </article>
      </section>

      <section class="articles">
        <article class="article">
          <h2 class="article-title">
            <a href="/posts/model-based-analysis"> Shapley value analysis: what is the recipe for franchise movies? </a>
          </h2>
          <small> Click to learn more </small>

          <div class="categories">
            <a href="#!" data-base-url="" class="category"
              >Model Based</a
            >
          
            <a href="#!" data-base-url="" class="category"
              >Data Analysis</a
            >
          </div>
        </article>
      </section>

      
      
      {% include footer.html %}
    </main>
    {% include category-modal.html%}
  </body>
</html>
