<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <main>
      {% include header.html %}
      <section class="article">
        <div class="article-header">
          <h2 class="article-title">{{page.title}}</h2>
          <small class="date">{{page.date | date_to_string}}</small>
          <div class="categories">
            {% for c in page.categories %}
            <a href="#!" class="category">{{c}}</a>
            {% endfor %}
          </div>
        </div>
        <div class="two-column-layout"> 
          <div class="column">
            <div class="column-content">
              <h3>Column 1</h3>
              <p>Column 1 Content</p>
            </div>
          </div>
          <div class="column">
            <div class="column-content">
              <h3>Column 2</h3>
              <p>Column 2 Content Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores praesentium, earum itaque velit, repellendus adipisci voluptatibus ut nam nobis eaque quas sit architecto ad voluptatem iusto eum soluta. Tempora, eveniet.</p>
            </div>
          </div>
        </div>
        <!-- <div class="two-column"> 
          <div class="column">
            <div class="column-content">
              <h3>Column 1</h3>
              <p>Column 1 Content</p>
            </div>
          </div>
          <div class="column">
            <div class="column-content">
              <h3>Column 2</h3>
              <p>Column 2 Content</p>
            </div>
          </div> -->
        </div>
        <div class="content">{{content}}</div>
      </section>
      {% include footer.html %}
    </main>
    {% include category-modal.html%}
  </body>
</html>
